/* Import of Roboto Font from Google Fonts  */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Import of Open Sans and Marck Script Font from Google Fonts for sendmessage page  */
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Marck+Script&family=Open+Sans&display=swap');

* {
  font-family: 'Roboto', sans-serif;
}

/* --------------------------------------------------- Index Styling */

/* Navbar styling  */
nav {
  font-weight: bold;
}

.brand-logo img {
  padding: 10px 0 0 10px;
  height: 50px;
  width: auto;
}

.sidenav img {
  width: 90%;
  height: auto;
  margin-top: 15px;
}

/* Hero landing page  */

.hero {
  height: 100vh;
  background-image: url('../img/pexels-darlene-alderson.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 0;
}

.hero-overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
}

.hero-call {
    position: absolute;
    top: 0;
    left: 20%;
    padding-top: 100px;
    z-index: 5;
}


/* Action now section  */

.action-now {
    height: 100vh;
}



/* --------------------------------------------------- About Paddy */

.aboutpaddy {
  padding: 40px;
}

.videogallery {
  padding-bottom: 30px;
}

.social {
  display: flex;
  justify-content: center;
  padding-top: 10px;
}

.social a {
  font-size: 1.5em;
  padding: 0 50px;
}

.overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  left: 0;
  top: 0;
  height: 500px;
  width: 100%;
}

.carousel-container h3 {
  font-weight: 700;
}

/*---------------------send message page*/
h3,h4{
  font-family: 'Marck Script', cursive;
}
/*-------------------------------- message section*/

h3{
  font-weight:600;
  font-size: 4rem;
}

h4{
  color: #008000;
  font-weight: 600;
}

p{
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  
}
/*#message{
 }*/
 

/*-------------------------------- cards section*/
span{
  color:#008000;
  font-family: 'Marck Script', cursive;
  font-weight:600;
  font-size: 1.5rem;
}

.funny-cards{
  height:60%;
  width:75%; 
}

/*
#paddy-cards{
}*/

/*-------------------------------- form section
#fill-form{

}*/



/* --------------------------------------------------- Footer */
footer .copyright {
  margin-bottom: 0;
}
/* --------------------------------------------------- Media Queries */
