/* Import of Roboto Font from Google Fonts  */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Import of Open Sans and Marck Script Font from Google Fonts for sendmessage page  */
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Marck+Script&family=Open+Sans&display=swap');

* {
  font-family: 'Roboto', sans-serif;
}

/* --------------------------------------------------- Index Styling */

/* Navbar styling  */
nav {
  font-weight: bold;
}

.brand-logo img {
  padding: 10px 0 0 10px;
  height: 50px;
  width: auto;
}

.sidenav img {
  width: 90%;
  height: auto;
  margin-top: 15px;
}

/* Hero landing page  */

.hero {
  height: 50vh;
  background-image: url('../img/pexels-darlene-alderson.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 0;
}

.hero-overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  height: 50vh;
  width: 100%;
}

.hero-call {
  position: absolute;
  top: 0;
  left: 17%;
  margin-top: 100px;
  z-index: 5;
}

.hero-call i {
  margin: 0 10px;
}

/* Action now section  */

.action-now {
  margin: 80px 0;
}

.card-space {
  margin-bottom: 50px;
}

.cards-index .index-img {
  object-fit: cover;
}

.card-title-bold {
  font-weight: bold !important;
}

.card-content p {
  padding-bottom: 8px;
  text-align: center;
}

/* --------------------------------------------------- About Paddy */

.aboutpaddy {
  padding: 40px;
}

.videogallery {
  padding-bottom: 10px;
}
.video {
  margin-bottom: 50px;
}

.social {
  display: flex;
  justify-content: center;
  padding-top: 10px;
}

.social a {
  font-size: 1.5em;
  padding: 0 50px;
}

.overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  left: 0;
  top: 0;
  height: 500px;
  width: 100%;
}

.carousel-container h3 {
  font-weight: 700;
}

/*-------------------------------- cards section*/

#message h3 {
  margin-bottom: 50px;
}

#message h4 {
  margin-bottom: 30px;
}

.funny-cards {
  height: 60%;
  width: 75%;
  margin-bottom: 50px;
  margin-top: 50px;
}

/* --------------------------------------------------- Send Card Selected */

.head-title {
  margin-top: 80px;
  color: #008000;
}

.head-title h1 {
  font-family: 'Marck Script', cursive;
  font-weight: 600;
  font-size: 6em;
}

.head-title h3 {
  font-family: 'Marck Script', cursive;
  font-weight: 600;
  font-size: 4em;
}

.head-title h4 {
  font-family: 'Marck Script', cursive;
  font-weight: 600;
  font-size: 3em;
}

.head-title p {
  padding-top: 10px;
  font-size: 1.5em;
}

.card-center {
  display: flex;
  justify-content: center;
  margin: 30px 0 20px 0;
}

.greenspan {
  color: #008000;
  font-family: 'Marck Script', cursive;
  font-weight: 600;
  font-size: 1.8rem;
}

.sendmsg-img {
  width: 600px;
  height: auto;
}

.send-form {
  margin: 80px 0;
}

.submit-form {
  margin-top: 80px;
}

.submit-form button,
.index-card-link {
  font-family: 'Marck Script', cursive;
  text-transform: capitalize !important;
  font-size: 1.5em;
}

/* Materialize Forms styling changes */

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #2da32d;
}
::-moz-placeholder {
  /* Firefox 19+ */
  color: #2da32d;
}
:-ms-input-placeholder {
  /* IE 10+ */
  color: #2da32d;
}
:-moz-placeholder {
  /* Firefox 18- */
  color: #2da32d;
}

/* --------------------------------------------------- Footer */
footer .copyright {
  margin-bottom: 0;
}
/* --------------------------------------------------- Media Queries */

@media screen and (max-width: 787px) {
  .hero-call {
    left: 8%;
    margin-top: 50px;
    z-index: 5;
  }

  .hero-call h3 {
    padding-top: 50px;
  }

  .head-title h1 {
    font-weight: 500;
    font-size: 3em;
  }

  .head-title h3 {
    font-weight: 500;
    font-size: 2.5em;
  }

  .head-title h4 {
    font-weight: 500;
    font-size: 1.8em;
  }

  .head-title p {
    font-size: 1.2em;
  }
  .head-title i {
    font-size: 1em;
  }
}
